*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


header{
    background-color: #495A7A;
    height: 130px;
}
#header-content{
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img-header{
    width: 290px;
    height: 103px;
}

#menu-itens-header{
    display: flex;
    align-items: center;
}


#menu-itens-header li{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;

    margin-right: 10px;
}
#menu-itens-header a{
    color: inherit;
    text-decoration: none; 
    cursor: pointer; 
}

#menu-itens-header li:hover{
    cursor: pointer;
    color: #FAC250;
}

#language-site span{
    font-size: 18px;
    font-weight: 400;
}

.title-main-news{
    color: #272245;
    font-size: 40px;
    font-weight: 700;
    width: 100%;

    /* Corrigir */
    margin-top: 20px;
    margin-bottom: 20px;
}



#container-news{
    max-width: 1450px;
    margin: 20px auto;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-news{
    /* background-color: red; */
    max-width: 475px;
    height:min-content;
    cursor: pointer;
    /* background-color: aqua; */
}

.img-card-news{
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    object-fit: cover;
}


.title-card-news{
    font-size: 28px;
    font-weight: 700;
}

.sub-title-card-news{
    font-size: 16px;
    font-weight: 400;
}

.date-news-post{
    font-size: 18px;
    font-weight: 700;
}

footer{
    background-color: #495A7A;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer hr{
    width: 70vw;
    max-width: 712px;
}

#container-social{
    margin-top: 20px;
}
#container-social img{
    margin: 0 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
#container-social a{
    text-decoration: none;
}

#footer-info{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-info hr{
    height: 0.5px;
    color: #FFFFFF;
}

#footer-info p, #footer-info span{
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat;
}

#footer-info span{
    font-weight: 700;
}




#menu-mobile{
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 240, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu-toggle-mobile{
    height: 130px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    background-color: red;
}



.menu-mobile-itens{
    margin-top: 110px;
}
.menu-mobile-itens li{
    margin-bottom: 25px;
}
















































/* Media Querys e Adaptações do Layout */

@media only screen and (max-width: 850px) {
    #menu-itens-header li{
        display: none;
    } 
    #menu-itens-header div{
        margin-right: 40px;
        display: block;
    }
   #nav-icon{
    display: block;
    margin-right: 40px;
   }
}

@media only screen and (max-width: 480px) {

    #container-news{
        padding-left: 40px;
        padding-right: 40px;
    }
    #img-header{
        width: 200px;
        margin-left: 40px;
    }

    
}

/* Media Querys e Adaptações do Layout */
